Imagine again that you work in a bank. What you saw in part two was fine for treating each customer individually, but in reality, there's more than just one customer to analyze.

If you want to analyze several customers at once, you can imagine that you need a variable for each customer. For the names, this could look like this:

In [ ]:
customerName1 = 'Marion Weaver'
customerName2 = 'Alberto Mendoza'
customerName3 = 'Katharine Tyler'
customerName4 = 'Isaac Steele'
# etc.

If you have 10 customers to analyze, wouldn't it be easier to store them all in a single variable that would contain all the information?

You're in luck! Python offers a structure, a class capable of storing multiple pieces of information as a kind of array. This structure is called a list. Let's see how to use it.

# Declare a List to Store Your Items

Lists are objects that can contain a collection of objects of any type.  We can have a list containing several integers (1, 2, 50, 2,000 or more, it doesn't matter), a list containing floats, a list containing strings, or even a list mixing objects of different types.

Lists are ordered objects, i.e., each item of the list is associated with a number corresponding to its order in the list. This number is called an index and it starts at 0 (not 1!). The first item is therefore associated with index 0, the second with index 1, etc.

Declaring a list is quite similar to the declaration of any variable seen so far: via a name to which we associate a list of items to be stored in this name.

In [ ]:
customerName = ['Marion Weaver', 'Alberto Mendoza', 'Katharine Tyler', 'Isaac Steele']

Now that your list is created, you can perform two basic operations:

Access a value at a given index

Change the value at a given index

In both cases, the code consists of the name of the variable followed by  [, the value of the index and  ].

# For example, if you made a mistake on the name of the first customer and you want to correct their name:

In [ ]:
# assign the value 'Marianne Weaver' to the first name in our list
# it is index 0, because indices start at 0 in python!
customerName[0] = 'Marianne Weaver'
print(customerName[0])

Marianne Weaver

Python also lets you use negative indices to access or modify an item. The index -1 corresponds to the last item of the list, -2 to the second last, and so on. You can also access an index range by using the  :  operator. For example, 1:3 will let you access items two to four.

In [ ]:
# print the last item
print(customerName[-1])

# access the second item to the 3rd
print(customerName[1:3])

# access all items from the beginning to the second
print(customerName[:2])

Isaac Steele
['Alberto Mendoza', 'Katharine Tyler']
['Marianne Weaver', 'Alberto Mendoza']

Here you have manipulated lists of strings, but you can do the same thing with the amount in each individual's account:

In [ ]:
amountAccount = [10000, 150, 300, 1800.74]

In [ ]:
strangeList = [4, 10.2, 'Marion Weaver', ['another list', 1]]

# print the 4th item of the list
print(strangeList[3])

['another list', 1]

# List Methods

In [ ]:
list = []
list.append(7)
list.append(5)
print(list) # => [7, 5]

[7, 5]

Here are some other methods that are essential to know about lists:

insert  to insert a new item at a specific position. For example,   list.insert(1, 12)  will insert the integer 12 at index 1, moving the old item 1 to index 2 and so on.

extend :  similar to append, but with another list. This allows you to concatenate several lists together.

remove : searches for the given item in the list and deletes the first occurrence. For example, if you want to delete 5 from your list, you can use :  list.remove(5) .

index : this method lets you find the index of the first occurrence of an item to be searched for in our list;

Keyword  del  to delete an item according to its index.

In [ ]:
list = []
list.append(7) # -> [7]
list.append(5) # -> [7, 5]
list.insert(1,12) # [7, 12, 5]
list[0] = 4 # -> [4, 12, 5]
list.remove(12) # [4, 5]
list.index(5) # prints 1
list.extend([1, 2, 3]) # [4, 5, 1, 2, 3]
del list[3] # [4, 5, 1, 3]

In [ ]:
list=[10,20,30,40,50,60]
list.index(40)

3

In [ ]:
del list[2]

In [ ]:
list

[10, 20, 40, 50, 60]

# Use Dictionaries

In [ ]:
accounts = {'Marion Weaver': 10000, 'Alberto Mendoza': 150, 'Katharine Tyler': 300, 'Isaac Steele': 1800.74}
print(accounts['Alberto Mendoza']) # -> 150

150

# Manipulate the Items of a Dictionary

Here are the operations frequently carried out with dictionaries:

Access the value of an item

Add a new item (a new key-value pair)

Delete an item via its key

A value can be accessed or modified using the same notation as with lists. With dictionaries, unlike lists, this notation even lets you add items.

Let's see this in action in the following example:

In [ ]:
accounts['Marion Weaver'] -= 2000 # I subtract 2000 from David's account
accounts['Kristian Roach'] = 1000 # I add a new individual in my dictionary
print(accounts['Kristian Roach']) # I print the value of Kristian's account

1000

# Finally, you can delete an item via the pop()  method by specifying the key of the item you want to delete.

In [ ]:
accounts.pop('Alberto Mendoza') # deletes Alberto Mendoza from our dictionary

150

Finally, in the same way as with lists, you can use the   len()  function to see how your dictionary grows in size:

In [ ]:
len(accounts) # -> 3

4

# Understand Immutable Tuples

The last type of collection we will look at are tuples. These are very similar to lists:

They are ordered objects, so we can access the different items stored in a tuple from their index.

You can store any kind of object in a tuple.

The main difference is that once a tuple has been declared, it cannot be modified. It is then said that it is immutable.

We can't modify a tuple? So what's the point of it?!

They might not seem to provide much benefit at first sight, but they can be used:

when you want to make sure that data is not modified within a program.

to return several values from a function. Indeed, we didn't address this point when we talked about functions, but it is possible to return several values... with a tuple!

to declare several variables in one line.

# Declare a Tuple

In [24]:
my_tuple = (1, 2, 3, 'a', 'b')

# Manipulate Tuples

In [25]:
print(my_tuple[1]) # -> 2
print(my_tuple[4]) # -> 'b'

2
b

In [26]:
a, b = (1, 'apple')
print(a) # -> 1
print(b) # -> 'apple'

1
apple

![](https://user.oc-static.com/upload/2022/09/15/16632595946084_image24.png)